@font-face { font-family: ValorantFont; src: url('./Valorant\ Font.ttf'); }

body {
    background-image: url(./JobyValorantBackground.jpg);
    background-size: cover;
}

.return-link {
    color: white;
    font-family: ValorantFont, sans-serif;
}

.description {
    display: inline-block;
    width: 375px;
    height: 400px;
    position: absolute;
    right: 0%;
    top: 9%;

    color: rgb(232, 250, 131);
}

.description h1 {
    font-family: ValorantFont, sans-serif;
}

.description p {
    font-family: Helvetica, sans-serif;
}

.description .widen {
    letter-spacing: 2.5px;
}

.AgentSelection {
    position:absolute;
    width: 560px;
    height: 170px;
    bottom: 10px;
    left: 28%;
}

#JobyStanding {
    position:absolute;
    display: block;
    left: 40%;
    border-radius: 3%;
}

#JOBY {
    border: 2px solid white;
}

